<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout/base :: base(~{::title}, ~{::content})}">

	  <head>
	      <meta charset="UTF-8">
	      <title>全ユーザーの注文履歴（管理者）</title>
		  <link rel="stylesheet" th:href="@{/css/style.css}">
	  </head>

	  <div th:fragment="content">

	      <h1>全ユーザーの注文履歴</h1>

	      <div sec:authorize="hasRole('ADMIN')">
	      </div>

		  <table class="table-common">
		      <thead>
		          <tr>
		              <th>ユーザー名</th>
		              <th>注文日</th>
		              <th>合計金額</th>
		              <th>詳細</th>
		          </tr>
		      </thead>

		      <tbody>
		          <tr th:each="order : ${orders}">
		              <td class="username-cell" th:text="${order.user.username}"></td>
		              <td th:text="${order.orderDate}"></td>
		              <td th:text="${order.totalPrice}"></td>
		              <td>
		                  <a th:href="@{|/orders/detail/${order.id}|}">詳細を見る</a>
		              </td>
		          </tr>
		      </tbody>
		  </table>


	  </div>

