<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注文一覧</title>
</head>
<body>

<h1>注文一覧</h1>

<table border="1">
    <tr>
        <th>注文ID</th>
        <th>注文日時</th>
        <th>商品一覧</th>
        <th>合計金額</th>
    </tr>

    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderDate}"></td>

        <td>
            <table border="1">
                <tr>
                    <th>商品名</th>
                    <th>数量</th>
                    <th>小計</th>
                </tr>

                <tr th:each="item : ${order.items}">
                    <td th:text="${item.item.name}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.item.price * item.quantity}"></td>
                </tr>
            </table>
        </td>

        <td th:text="${#numbers.sum(order.items.^[item.price * quantity])}"></td>
    </tr>

</table>

</body>
</html>
