<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="base(title, content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">ページタイトル</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

    <!-- 共通ヘッダー -->
    <div th:replace="layout/fragments/header :: header"></div>

    <!-- 共通ナビ -->
    <nav class="bg-light p-2 mb-3">
        <a href="/items" class="me-3">商品ページ</a>
        <a href="/users" class="me-3">ユーザーページ</a>
        <a href="/cart" class="me-3">買い物かご</a>
		<!-- ★ 管理者だけ表示 -->
        <a href="/dashboard" class="me-3" sec:authorize="hasRole('ADMIN')">
            ダッシュボード
        </a>
    </nav>

    <!-- ページごとの中身 -->
    <main th:replace="${content}"></main>

    <!-- フッター -->
    <footer class="mt-4 p-2">
        <a href="javascript:history.back()" class="text-decoration-none">
            ← 戻る
        </a>
    </footer>

</body>
</html>
