<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="header">
    <header style="padding: 10px; background: #eee;">
		<div sec:authorize="hasRole('ADMIN')" style="color:red; font-weight:bold;">
		    管理者としてログイン中
		</div>
		<div sec:authorize="hasRole('USER')">
		    <a href="/users/profile">マイページ</a>
		</div>
		
		<div sec:authorize="hasRole('ADMIN')">
		    <a href="/orders/admin-history">全ユーザーの注文履歴</a>
		</div>


		
        <div style="float: right;">
			
			<span sec:authorize="isAnonymous()">
                <a th:href="@{/users/signup}">ユーザー登録</a> |
                <a th:href="@{/login}">ログイン</a>
            </span>
			
            <span th:if="${#authorization.expression('isAuthenticated()')}">
                ユーザー名: <strong th:text="${#authentication.name}"></strong>
                | <a href="/logout">ログアウト</a>
            </span>
			
			<span sec:authorize="isAuthenticated()">
			    <a th:href="@{/orders/history}">注文履歴</a> |
			</span>

        </div>
        <div style="clear: both;"></div>
    </header>
</div>

</body>
</html>
