<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(
            ~{::title},
            ~{::content}
      )}">

<head>
    <title>ユーザー一覧</title>
</head>

<body>
<div th:fragment="content">
    <h1>ユーザー一覧</h1>

    <table border="1">
        <tr>
            <th>ID</th><th>名前</th><th>年齢</th><th>ユーザー名</th><th>操作</th>
        </tr>
        <tr th:each="u : ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.name}"></td>
            <td th:text="${u.age}"></td>
            <td th:text="${u.username}"></td>
            <td>
                <a th:href="@{'/users/edit/' + ${u.id}}">編集</a>
                <a th:href="@{'/users/delete/' + ${u.id}}">削除</a>
            </td>
        </tr>
    </table>
	<form action="/" method="get">
	    <button type="submit">メインメニューに戻る</button>
	</form>
</div>
</body>
</html>
