<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(
            ~{::title},
            ~{::content}
      )}">

<head>
    <title>ユーザー一覧</title>
</head>

<body>
<div th:fragment="content">
    <h1>ユーザー一覧</h1>
	<form th:action="@{/admin/users/search}" method="get" class="d-flex gap-2">
	    <input type="text" name="keyword" placeholder="会員番号で検索" class="form-control w-auto">
	    <button type="submit" class="btn btn-secondary">検索</button>
	    <a href="/admin/users/new" class="btn btn-primary">新規登録</a>
	</form>


	<table class="table table-striped table-bordered align-middle">
	    <thead class="table-dark">
	        <tr>
	            <th>ID</th>
	            <th>会員番号</th>
	            <th>名前</th>
	            <th>年齢</th>
	            <th>ユーザー名</th>
	            <th>権限</th>
	            <th>操作</th>
	        </tr>
	    </thead>

	    <tbody>
	        <tr th:each="u : ${users}">
	            <td th:text="${u.id}"></td>
	            <td th:text="${u.memberNumber}"></td>
	            <td th:text="${u.name}"></td>
	            <td th:text="${u.age}"></td>
	            <td th:text="${u.username}"></td>
	            <td th:text="${u.role}"></td>

	            <td>
	                <a th:href="@{'/users/edit/' + ${u.id}}" class="btn btn-sm btn-warning me-1">編集</a>
	                <a th:href="@{'/users/delete/' + ${u.id}}" class="btn btn-sm btn-danger">削除</a>
	            </td>
	        </tr>
	    </tbody>
	</table>


	<form action="/" method="get">
	    <button type="submit">メインメニューに戻る</button>
	</form>
</div>
</body>
</html>
