<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(~{::title}, ~{::content})}">

<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
</head>



<div th:fragment="content">
	<!-- 成功メッセージ -->
	<div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
	    <span th:text="${success}"></span>
	    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>

	<!-- エラーメッセージ -->
	<div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
	    <span th:text="${error}"></span>
	    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>
	

    <div class="container py-4">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>商品一覧</h2>

            <div sec:authorize="hasRole('ADMIN')">
                <a href="/items/new" class="btn btn-success">商品追加</a>
            </div>
        </div>

        <table class="table-common">
            
                <thead>
                    <tr>
                        <th></th>
                        <th>商品名</th>
                        <th>価格</th>
                        <th>在庫</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="item, stat : ${items}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.stock}"></td>

						<td>
						    <!-- ログインしている場合だけ表示 -->
						    <span sec:authorize="isAuthenticated()">
						        <a th:href="@{'/cart/add/' + ${item.id}}" class="btn btn-primary btn-sm me-2">
						            カートに追加
						        </a>
						    </span>

						    <!-- 管理者だけが使える操作 -->
						    <span sec:authorize="hasRole('ADMIN')">
						        <a th:href="@{/items/edit/{id}(id=${item.id})}" class="btn btn-warning btn-sm me-2">
						            編集
						        </a>
						        <form th:action="@{/items/delete/{id}(id=${item.id})}" method="post" style="display:inline;">
						            <button type="submit" class="btn btn-danger btn-sm">削除</button>
						        </form>
						    </span>
						</td>

                    </tr>
                </tbody>
            </table>
        

        <a href="/" class="btn btn-secondary mt-3">メインメニューに戻る</a>

    </div>

</div>