<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(~{::title}, ~{::content})}">

<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
</head>
<body>
<div th:fragment="content">
    <h2>商品一覧</h2>
	<div sec:authorize="hasRole('ADMIN')">
	    <a href="/items/new">商品追加</a>
	</div>
    
    <table border="1">
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>価格</th>
            <th>在庫</th>
            <th>操作</th>
        </tr>

        <tr th:each="item, stat : ${items}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.stock}"></td>
            <td>
				<a th:href="@{'/cart/add/' + ${item.id}}">カートに追加</a>
				<form th:action="@{|/items/${item.id}/edit|}" method="get" style="display:inline;">
					<div sec:authorize="hasRole('ADMIN')">
					    <a th:href="@{/items/edit/{id}(id=${item.id})}">編集</a>
					    <a th:href="@{/items/delete/{id}(id=${item.id})}">削除</a>
					</div>

                </form>
            </td>
        </tr>
    </table>
<form action="/" method="get">
    <button type="submit">メインメニューに戻る</button>
</form>
</div>
</body>
</html>